//
//  Config.xcconfig
//  Tricks
//
//  Created by Armin on 2/19/22.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// The `TRICKS_BUNDLE_ID` configuration is to make it easier to build
// and run the project. Once you set your project's development team,
// you'll have a unique bundle identifier. This is because the bundle identifier
// is derived based on the 'TRICKS_BUNDLE_ID' value.

// MARK: - App versions
TRICKS_APP_VERSION = 1.0.0
TRICKS_APP_BUNDLE_VERSION = 1

// MARK: - App display name
TRICKS_APP_NAME = Tricks

// MARK: - App Bundle Identifier
TRICKS_BUNDLE_ID = io.aseman.tricks${DEVELOPMENT_TEAM}

// MARK: - API Configs
TRICKS_BASE_API = tricks.aseman.io
TRICKS_PASSWORD_SALT = 92bcd38b-9aae-4528-a5b0-4c38489db279
TRICKS_API_APP_ID = 
TRICKS_API_APP_VERSION = 4
